.App {
  text-align: center;
}

#article {
  width: 200px;
  color: antiquewhite;
  display: inline-block;
}

#wrapper {
  width: 80vw;
  position: inline-block;
  /* border: 1px solid black; */
  /* overflow: hidden; will contain if #first is longer than #second */
}

#floating {
  float: left;
  /* width: 80px;
    height: 80px; */
  /* background-color: #f00; */
  margin: 0 10px 10px 0;
}

#floating-r {
  float: right;
  /* width: 80px;
    height: 80px; */
  /* background-color: #f00; */
  margin: 0 10px 10px 0;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #3b4861;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-header {
  background-color: #3b4861;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.grid {
  margin: 100px 0 0;
  width: 100vw;
  height: 100wh;
  /* overflow: hidden; */
}

/* .btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */

.cent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
