.node {
  width: 1.5vw;
  height: 3vh;
  /* height: calc(3vh + 2px);
  width: calc(3vh + 2px); */
  /* min-width: 25px;
  min-height: 25px; */
  outline: 1px solid grey;
  display: inline-block;
  /* position: sticky; */
  overflow: hidden;
  position: relative;
}

.legend-no {
  width: 1.5vw;
  height: 3vh;
  /* height: calc(3vh + 2px);
  width: calc(3vh + 2px); */
  /* min-width: 25px;
  min-height: 25px; */
  outline: 1px solid grey;
  display: inline-block;
  /* position: sticky; */
  overflow: hidden;
  position: relative;
}

.node.is-finish {
  /* width: 25px;
    height: 25px;
    outline: 3px solid red;
    display: inline-block; */
  /* background-color: white; */
  outline: 3px rgb(46, 67, 255);
  outline-style: solid;
}

.legend-no.is-legend-f {
  /* width: 25px;
    height: 25px;
    outline: 3px solid red;
    display: inline-block; */
  /* background-color: white; */
  outline: 3px rgb(46, 67, 255);
  outline-style: solid;
}

.is-start {
  /* width: 25px;
  height: 25px;
  outline: 3px solid blue;
  display: inline-block;
  background-color: black; */
  outline: 3px rgb(255, 0, 136);
  outline-style: solid;
}

.legend-no.is-legend-s {
  /* width: 25px;
  height: 25px;
  outline: 3px solid blue;
  display: inline-block;
  background-color: black; */
  outline: 3px rgb(255, 0, 136);
  outline-style: solid;
}

/* .is-visited {
  background-color: red;
} */

.is-really-wall {
  background-color: black;
  animation-name: wallanim;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.legend-no.is-legend-w {
  background-color: black;
  animation-name: wallanim;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.is-visited {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.legend-no.is-legend-v {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(106, 255, 114);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(106, 255, 114);
  }

  100% {
    transform: scale(1);
    background-color: rgb(106, 255, 114);
  }
}

@keyframes wallanim {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(1, 67, 153, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(1, 59, 44, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 44, 51, 0.75);
  }
}
